/*
filename: style.css

author: Monique Vilardo, Riley Tuckett, Stacey Millers, Victoria Rogers

created: 30/04/2025

last modified: 30/04/2025

description: index.html, jobs.html, apply.html, about.html
*/

* { font-family: Georgia, 'Times New Roman', Times, serif}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(236, 86, 148);
    display: flex;
    /* Evenly Space Everything Out */
    justify-content: space-around;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav li{
    float: left;
  }

nav a {
    text-decoration: none;
    padding: 15px 15px;
    color: rgb(250, 222, 239);
    padding: 8px;
    text-align: center;
}

nav a:hover {
    color: rgb(236, 86, 148);
    background-color:rgb(250, 222, 239);
}

#Company_Logo{
    border-radius: 100%;
    height: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#Company_Name{
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}


header{
    border-radius: 8px;
    padding: 20px 20px;
    background-color: rgb(236, 142, 187);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

main{
    border-radius: 8px;
    padding: 20px 20px;
    background-color: rgb(247, 205, 224);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer{
    border-radius: 8px;
    padding: 20px 20px;
    background-color: rgb(236, 142, 187);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(236, 86, 148);
    display: flex;
    /* Evenly Space Everything Out */
    justify-content: space-around;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer li{
    float: left;
  }

footer li a {
    text-decoration: none;
    padding: 15px 15px;
    color: rgb(250, 222, 239);
    padding: 8px;
    text-align: center;
}

footer a:hover {
    color: rgb(236, 86, 148);
    background-color: rgb(250, 222, 239);
}

#Jobs_Table_Data{
    width: 75%;
    display: table-cell;
    border: 1px solid rgb(236, 86, 148);
    padding:0.2em 0.6em;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#Jobs_Table_Row{
    background-color: rgb(250, 222, 239);
}

#Jobs_Table_Row:hover{
    background-color: rgb(246, 193, 221);
}

#Apply_Here{
    text-decoration: none;
    padding: 15px 15px;
    border: 4px solid rgb(236, 86, 148);
    background-color:  rgb(236, 86, 148);
    border-radius: 8px;
    color: rgb(250, 222, 239);
    padding: 8px;
    text-align: center;
    float: center;
}

#Apply_Here:hover{
    color:  rgb(236, 86, 148);
    background-color: rgb(250, 222, 239);
}

#Companies_Logo_Image{
    border-radius: 100%;
    height: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#Job_Position_And_Logo{
    /* Makes things aligned horizontaly. */
    display: flex;
    /* If things don't fit on one light it make sure it wraps underneath. */
    flex-wrap: wrap;
}

#Job_Title{
    /* Allows the job title to take as much space as possible on the line while still allowing the logo to share the area. */
    flex: 1;
}

#Number_Of_Job_Listings:hover{
    display: none;
}

#Necessary_Job_Requirements{
    color: rgb(91, 13, 117);
}

#Non_Necessary_Job_Requirements{
    color: rgb(35, 56, 102);
}

.Footer_Links{
    color: rgb(169, 45, 97);
}

#Home_Title{
    text-align: center;
}